@media screen and (max-width: 700px ){
    .header-content_secTitle{
        font-size: 30px;
        color:white;
    }
    .footer-data_info_orderCall {
        padding: 7px;
        border-radius: 35px;
        border: none;
        width: 140px;
        height: 45px;
        background-color: #ac0042;
        color: white;
        font-size: 13px;
    }
    .header-content_title{
        font-size: 50px;
        color: #ac0042;
    }
    .header-content_thirdTitle {
        font-size: 19px;
        color: gray;
    }
    .header_nav_pictureArea_picture {
        width: 160px;
    }
    .header_nav_login_number,
    .header_nav_login_btn{
        font-size: 8px;
    }
    .header_nav_login_number{
        width: 40%;
    }
    .header_nav_login_number,
    .header_nav_login_btn{
        font-size: 10px;
    }
    .header-content_data_order {
        border-radius: 35px;
        border: none;
        height: 55px;
        background-color: #ac0042;
        color: white;
        font-size: 15px;
        margin: 7px;
        width: 130px;
    }
    input {
        border-radius: 35px;
        width: 110px;
        height: 20px;
        opacity: 0.5;
        border-style: solid;
        border-color: gray;
        padding: 10px;
        margin: 5px;
    }

}
@media screen and (max-width: 400px){
    .header-content_secTitle{
        font-size: 20px;
        color:white;
    }
    .header-content_title{
        font-size: 35px;
        color: #ac0042;
    }
    .header-content_thirdTitle {
        font-size: 13px;
        color: gray;
    }
    .header_nav_pictureArea_picture {
        width: 100px;
    }
    .header_data_area {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 80%;
    }
}

@media screen and (max-width: 1000px){
    .header_nav_login_number,
    .header_nav_login_btn{
        font-size: 11px;
    }
    .header_nav_login_number{
        width: 60%;
    }
    .main_content-whatHave_magazine_img {
        position: absolute;
        max-width: 100%;
        height: 10%;
        bottom: 93%;
    }

}
@media screen and (max-width: 1200px){
    .main-content-forWhat_container_items {
        margin: 2vh;
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-content-forWhat_container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
}
@media screen and (max-width: 900px){
    .main-content-forWhat_container_items {
        margin: 2vh;
        width: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-content-forWhat_container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    .main-content-forWhat_container_items{
        margin: 2vh;
        width: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 590px){
    .main-content-forWhat_container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-content-forWhat_title{
        margin-top: 13vh;
        color: #2e1f3b;
        font-size: 19px;
    }

}

@media screen and (max-width: 1250px){
    .main_content-whatHave_area_container_purpleBack {
        width: 300px;
        height: 300px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background: url(../images/priama6ug.png) no-repeat center top / cover;
    }
    .main_content-whatHave {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: url(../images/bodypi.png) no-repeat center top / cover;
        margin-top: 95px;
        height: 825px;
        width: 100%;
        border: none;
        top: 100px;
        z-index: 2;
    }
}

@media screen  and (max-width: 1100px){
    .main_content-whatHave_area_container_purpleBack {
        width: 283px;
        height: 283px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background: url(../images/priama6ug.png) no-repeat center top / cover;
    }
    .main_content-whatHave_area_order {
        position: relative;
        top: 120px;
        border-radius: 35px;
        border: none;
        width: 260px;
        height: 55px;
        background-color: #ac0042;
        color: white;
        font-size: 20px;
    }
    .main_content-whatHave {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: url(../images/bodypi.png) no-repeat center top / cover;
        margin-top: 95px;
        height: 755px;
        width: 100%;
        border: none;
        top: 100px;
        z-index: 2;
    }
}

@media screen and (max-width: 1000px) {
    .main_content-whatHave_area_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 80px;
    }
    .main_content-whatHave {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: url(../images/bodypicture.jpg) no-repeat center top / cover;
        height: 1430px;;
        width: 100%;
        border: none;
        top: 100px;
    }
    .main_content-autoCall_pointsArea_imgOptions {
        height: 365px;
        position: relative;
        left: 93px;
    }
    .main_content-autoCall_borderArea_borderOptions {
        height: 2px;
        width: 80vh;
        background-color: gray;
    }

}

@media screen and (max-width: 790px) {
    .main_content-autoCall_title_redPart {
        position: relative;
        margin-top: 160px;
        color: #ac0042;
        font-size: 20px;
    }
    .main_content-autoCall_title_whitePart {
        position: relative;
        margin-top: 160px;
        color: #141434;
        font-size: 20px;
    }
    .main_content-autoCall_borderArea_borderOptions {
        height: 2px;
        width: 50vh;
        background-color: gray;
    }
    /*input {*/
        /*border-radius: 35px;*/
        /*width: 150px;*/
        /*height: 25px;*/
        /*opacity: 0.5;*/
        /*border-style: solid;*/
        /*border-color: gray;*/
        /*padding: 11px;*/
        /*margin: 9px;*/
    /*}*/
    /*.footer-data_info_orderCall {*/
        /*padding: 7px;*/
        /*border-radius: 35px;*/
        /*border: none;*/
        /*width: 170px;*/
        /*height: 55px;*/
        /*background-color: #ac0042;*/
        /*color: white;*/
        /*font-size: 10px;*/
    /*}*/
}

@media screen and (max-width: 600px){
    .main_content-autoCall_title_whitePart {
        position: relative;
        margin-top: 160px;
        color: #141434;
        font-size: 15px;
    }
    .main_content-autoCall_title_redPart {
        position: relative;
        margin-top: 160px;
        color: #ac0042;
        font-size: 15px;
    }
}
@media screen and (max-width: 500px){
    .main_content-autoCall_title_whitePart {
        position: relative;
        margin-top: 160px;
        color: #141434;
        font-size: 11px;
    }
    .main_content-autoCall_title_redPart {
        position: relative;
        margin-top: 160px;
        color: #ac0042;
        font-size: 11px;
    }
    .main_content-autoCall_borderArea_borderOptions {
        height: 2px;
        width: 30vh;
        background-color: gray;
    }
    .main_content-autoCall_pointsArea_imgOptions {
        height: 300px;
        position: relative;
        left: 93px;
    }
    .footer-main_img {
        height: 40px;
    }
    .footer-main_info_Neirika_phone_elips {
        margin-right: 40px;
        height: 20px;
    }

    .footer-main_info_Neirika_phone_numb {
        margin-right: 50px;
        font-size: 15px;
        width: 118px;
    }
    .footer-main_info_Neirika_mail_img {
        margin-right: 10px;
        height: 15px;
    }
    .footer-main_info_Neirika_mail_text{
        font-size: 15px;
    }

}

@media screen and (max-width: 1000px){
    .main_content-trust_firstRow_company,
    .main_content-trust_thirdRow_company {
        max-width: 100%;
        padding: 20px;
    }
    .main_content-trust_secondRow_companyS {
        max-width: 100%;
        padding: 25px;
    }
    .main_content-trust_pointsArea_imgOption {
        position: relative;
        height: 350px;
        top: 540px;
        right: 70px;
    }
}
@media screen and (max-width: 940px){
    .main_content-trust_firstRow, .main_content-trust_secondRow, .main_content-trust_thirdRow {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main_content-trust_pointsArea_imgOption {
        position: relative;
        height: 470px;
        right: 70px;
        top: 130vh;
    }
}
@media screen  and (max-width: 410px){
    .main_content-trust_title {
        margin-top: 13vh;
        color: #2e1f3b;
        font-size: 25px;
    }
    .main_content-trust_firstRow_company, .main_content-trust_thirdRow_company {
        max-width: 100%;
        padding: 20px 0px 20px 0px;
    }
    .main_content-trust_secondRow_companyS {
        max-width: 100%;
        padding: 20px 0px 20px 0px;
    }
    .main_content-trust_pointsArea_imgOption {
        position: relative;
        height: 350px;
        right: 70px;
        top: 120vh;
    }
}

@media  screen and (max-width: 950px){
    .main_content-additionalFeatures_backgroundArea_container_backgroundArea {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background: url(../images/priama6ug.png) no-repeat center top / cover;
        width: 380px;
        height: 370px;
        padding: 7px;
    }
    .main_content-additionalFeatures {
        background: url(../images/futerpicture3.jpg) no-repeat center top / cover;
        margin-top: 10vh;
        height: 115vh;
        border-top-right-radius: 120vh 8vh;
        border-top-left-radius: 120vh 8vh;
        border-bottom-right-radius: 70vh 8vh;
        border-bottom-left-radius: 70vh 8vh;
        position: relative;
    }
    .main_content-additionalFeatures_backgroundArea_title_redPart {
        color: #ac0042;
        padding-top: 55px;
        padding-bottom: 10px;
        padding-right: 10px;
        font-size: 20px;
    }
    .main_content-additionalFeatures_backgroundArea_title_whitePart {
        color: white;
        padding-top: 55px;
        padding-bottom: 10px;
        font-size: 20px;
    }
}
@media screen and (max-width: 850px){
    .main_content-additionalFeatures_backgroundArea_container_backgroundArea {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background: url(../images/priama6ug.png) no-repeat center top / cover;
        width: 350px;
        height: 330px;
        padding: 5px;
    }
    .main_content-additionalFeatures {
        background: url(../images/futerpicture3.jpg) no-repeat center top / cover;
        margin-top: 10vh;
        height: 110vh;
        border-top-right-radius: 120vh 8vh;
        border-top-left-radius: 120vh 8vh;
        border-bottom-right-radius: 70vh 8vh;
        border-bottom-left-radius: 70vh 8vh;
        position: relative;
    }
}
@media screen and (max-width: 760px){
    .main_content-additionalFeatures_backgroundArea_container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main_content-additionalFeatures {
        background: url(../images/futerpicture3.jpg) no-repeat center top / cover;
        margin-top: 10vh;
        height: 1500px;
        border-top-right-radius: 120vh 8vh;
        border-top-left-radius: 120vh 8vh;
        border-bottom-right-radius: 70vh 8vh;
        border-bottom-left-radius: 70vh 8vh;
        position: relative;
    }
}
@media screen and (max-width: 530px) {
    .main_content-additionalFeatures_backgroundArea_title_whitePart {
        color: white;
        padding-top: 55px;
        padding-bottom: 10px;
        font-size: 15px;
    }
    .main_content-additionalFeatures_backgroundArea_title_redPart {
        color: #ac0042;
        padding-top: 55px;
        padding-bottom: 10px;
        padding-right: 10px;
        font-size: 15px;
    }
}
@media screen and (max-width: 430px){
    .main_content-additionalFeatures_backgroundArea_title_whitePart {
        color: white;
        padding-top: 55px;
        padding-bottom: 10px;
        font-size: 10px;
    }
    .main_content-additionalFeatures_backgroundArea_title_redPart {
        color: #ac0042;
        padding-top: 55px;
        padding-bottom: 10px;
        padding-right: 10px;
        font-size: 10px;
    }
    .main_content-trust_pointsArea_imgOption {
        position: relative;
        height: 350px;
        right: 70px;
        top: 140vh;
    }
}
@media screen and (max-width: 900px){
    .footer-main_img {
        height: 7vh;
    }
}
@media screen and (max-width: 450px){
    .footer-main_img {
        height: 4vh;
    }
    .footer-main_info_Neirika_phone_elips {
        margin-right: 4vh;
        height: 20px;
    }
    .footer-main_info_Neirika_mail_text{
        font-size: 10px;
    }
    .footer-main_info_Neirika_mail_img {
        margin-right: 2vh;
        height: 15px;
    }
    .footer-main_info_Neirika_phone_numb {
        margin-right: 50px;
        font-size: 11px;
        width: 86px;
    }
}
/*@media screen and (max-width: 750px){*/
    /*input {*/
        /*border-radius: 35px;*/
        /*width: 120px;*/
        /*height: 15px;*/
        /*opacity: 0.5;*/
        /*border-style: solid;*/
        /*border-color: gray;*/
        /*padding: 12px;*/
        /*margin: 6px;*/
    /*}*/
    /*.footer-data_info_orderCall {*/
        /*padding: 7px;*/
        /*border-radius: 35px;*/
        /*border: none;*/
        /*width: 140px;*/
        /*height: 45px;*/
        /*background-color: #ac0042;*/
        /*color: white;*/
        /*font-size: 14px;*/
    /*}*/
/*}*/
@media screen and (max-width: 600px){
    /*.name, .telephone {*/
        /*border-radius: 35px;*/
        /*width: 110px;*/
        /*height: 14px;*/
        /*opacity: 0.5;*/
        /*border-style: solid;*/
        /*border-color: gray;*/
        /*padding: 15px;*/
        /*margin: 12px;*/
    /*}*/
    /*.header-content_data_order {*/
        /*border-radius: 35px;*/
        /*border: none;*/
        /*height: 55px;*/
        /*background-color: #ac0042;*/
        /*color: white;*/
        /*font-size: 15px;*/
        /*margin: 5px;*/
        /*width: 135px;*/
    /*}*/
}


@media screen and (max-width: 600px){
    .header_nav_login_number {
        width: 75%;
    }
}

@media screen and (max-width: 600px){
    /*.header-content_data_order {*/
        /*border-radius: 35px;*/
        /*border: none;*/
        /*height: 50px;*/
        /*background-color: #ac0042;*/
        /*color: white;*/
        /*font-size: 15px;*/
        /*margin: 5px;*/
        /*width: 210px;*/
    /*}*/
    /*.name, .telephone {*/
        /*border-radius: 35px;*/
        /*width: 180px;*/
        /*height: 14px;*/
        /*opacity: 0.5;*/
        /*border-style: solid;*/
        /*border-color: gray;*/
        /*padding: 14px;*/
        /*margin: 7px;*/
    /*}*/

}
@media screen and (min-width:250px) and (max-width: 439px)
{
    .footer-data_info_orderCall {
        padding: 7px;
        border-radius: 35px;
        border: none;
        width: 220px;
        height: 45px;
        background-color: #ac0042;
        color: white;
        font-size: 13px;
    }
    input {
        border-radius: 35px;
        width: 190px;
        height: 25px;
        opacity: 0.5;
        border-style: solid;
        border-color: gray;
        padding: 11px;
        margin: 6px;
    }
    .header-content_data_order {
        border-radius: 35px;
        border: none;
        height: 55px;
        background-color: #ac0042;
        color: white;
        font-size: 10px;
        margin: 7px;
        width: 216px;
    }
    .header_nav_login {
        width: 45%;
        display: flex;
        justify-content: flex-end;
    }
    .footer-data_info {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header_data_area {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 80%;
    }
}
@media screen and(min-width: 471px) and (max-width: 540px){
    input {
        border-radius: 35px;
        width: 100px;
        height: 25px;
        opacity: 0.5;
        border-style: solid;
        border-color: gray;
        padding: 11px;
        margin: 6px;
    }
    .header-content_data_order {
        border-radius: 35px;
        border: none;
        height: 55px;
        background-color: #ac0042;
        color: white;
        font-size: 10px;
        margin: 7px;
        width: 120px;
    }
}
@media screen and (min-width: 690px) and (max-width: 810px ){
    input {
        border-radius: 35px;
        width: 160px;
        height: 18px;
        opacity: 0.5;
        border-style: solid;
        border-color: gray;
        padding: 10px;
        margin: 10px;
    }
    .header-content_data_order {
        border-radius: 35px;
        border: none;
        height: 55px;
        background-color: #ac0042;
        color: white;
        font-size: 15px;
        margin: 5px;
        width: 200px;
    }
    .footer-data_info_orderCall {
        padding: 7px;
        border-radius: 35px;
        border: none;
        width: 200px;
        height: 45px;
        background-color: #ac0042;
        color: white;
        font-size: 16px;
    }
}
@media screen and  (min-width: 440px) and (max-width: 517px) {
    .header-content_data_order {
        border-radius: 35px;
        border: none;
        height: 55px;
        background-color: #ac0042;
        color: white;
        font-size: 10px;
        margin: 7px;
        width: 115px;
    }
    input {
        border-radius: 35px;
        width: 85px;
        height: 25px;
        opacity: 0.5;
        border-style: solid;
        border-color: gray;
        padding: 10px;
        margin: 5px;
    }
    .footer-data_info_orderCall {
        padding: 7px;
        border-radius: 35px;
        border: none;
        width: 127px;
        height: 45px;
        background-color: #ac0042;
        color: white;
        font-size: 12px;
    }
}
