@media screen and (max-width: 700px ){
    .header-content_secTitle{
        font-size: 30px;
        color:white;
    }
    .footer-data_info_orderCall {
        padding: 7px;
        border-radius: 35px;
        border: none;
        width: 140px;
        height: 45px;
        background-color: #ac0042;
        color: white;
        font-size: 13px;
    }
    .header-content_title{
        font-size: 50px;
        color: #ac0042;
    }
    .header-content_thirdTitle {
        font-size: 19px;
        color: gray;
    }
    .header_nav_pictureArea_picture {
        width: 160px;
    }
    /*.header_nav_login_number,*/
    /*.header_nav_login_btn{*/
        /*font-size: 8px;*/
    /*}*/
    .header_nav_login_number{
        width: 40%;
    }
    /*.header_nav_login_number,*/
    /*.header_nav_login_btn{*/
        /*font-size: 10px;*/
    /*}*/
    .header-content_data_order {
        border-radius: 35px;
        border: none;
        height: 55px;
        background-color: #ac0042;
        color: white;
        font-size: 15px;
        margin: 7px;
        width: 130px;
    }
    input {
        border-radius: 35px;
        width: 110px;
        height: 20px;
        opacity: 0.5;
        border-style: solid;
        border-color: gray;
        padding: 10px;
        margin: 5px;
    }

}
@media screen and (max-width: 400px){
    .header-content_secTitle{
        font-size: 20px;
        color:white;
    }
    .header-content_title{
        font-size: 35px;
        color: #ac0042;
    }
    .header-content_thirdTitle {
        font-size: 13px;
        color: gray;
    }
    .header_nav_pictureArea_picture {
        width: 100px;
    }
    .header_data_area {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 80%;
    }
}

@media screen and (max-width: 1000px){
    .header_nav_login_number{
        width: 40%;
    }
    .main_content-whatHave_magazine_img {
        position: absolute;
        max-width: 100%;
        height: 10%;
        bottom: 97%;
    }

}
@media screen and (max-width: 1200px){
    .main-content-forWhat_container_items {
        margin: 2vh;
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-content-forWhat_container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
}
@media screen and (max-width: 900px){
    .main-content-forWhat_container_items {
        margin: 2vh;
        width: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 460px;
    }
    .main-content-forWhat_container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    .main-content-forWhat_container_items{
        margin: 2vh;
        width: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 590px){
    .main-content-forWhat_container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-content-forWhat_title{
        margin-top: 13vh;
        color: #2e1f3b;
        font-size: 19px;
    }

}

@media screen and (max-width: 1250px){
    .main_content-whatHave_area_container_purpleBack {
        width: 300px;
        height: 320px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: url(../images/priama6ug.png) no-repeat center top / cover;
    }
    .main_content-whatHave {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: url(../images/bodypi.png) no-repeat center top / cover;
        margin-top: 95px;
        height: 825px;
        width: 100%;
        border: none;
        top: 100px;
        z-index: 2;
    }
}

@media screen  and (max-width: 1100px){
    .main_content-whatHave_area_container_purpleBack {
        width: 283px;
        height: 310px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: url(../images/priama6ug.png) no-repeat center top / cover;
    }
    .main_content-whatHave_area_order {
        position: relative;
        top: 120px;
        border-radius: 35px;
        border: none;
        width: 260px;
        height: 55px;
        background-color: #ac0042;
        color: white;
        font-size: 20px;
    }
    .main_content-whatHave {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: url(../images/bodypi.png) no-repeat center top / cover;
        margin-top: 95px;
        height: 755px;
        width: 100%;
        border: none;
        top: 100px;
        z-index: 2;
    }
}

@media screen and (max-width: 1000px) {
    .main_content-whatHave_area_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 80px;
    }
    .main_content-whatHave {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: url(../images/bodypicture.jpg) no-repeat center top / cover;
        height: 1500px;
        width: 100%;
        border: none;
        top: 100px;
    }
    .main_content-autoCall_pointsArea_imgOptions {
        height: 365px;
        position: relative;
        left: 93px;
    }
    .main_content-autoCall_borderArea_borderOptions {
        height: 2px;
        width: 80vh;
        background-color: gray;
    }

}

@media screen and (max-width: 790px) {
    .main_content-autoCall_title_redPart {
        position: relative;
        margin-top: 160px;
        color: #ac0042;
        font-size: 24px;
    }
    .main_content-autoCall_title_whitePart {
        position: relative;
        margin-top: 160px;
        color: #141434;
        font-size: 24px;
    }
    .main_content-autoCall_borderArea_borderOptions {
        height: 2px;
        width: 50vh;
        background-color: gray;
    }
    /*input {*/
        /*border-radius: 35px;*/
        /*width: 150px;*/
        /*height: 25px;*/
        /*opacity: 0.5;*/
        /*border-style: solid;*/
        /*border-color: gray;*/
        /*padding: 11px;*/
        /*margin: 9px;*/
    /*}*/
    /*.footer-data_info_orderCall {*/
        /*padding: 7px;*/
        /*border-radius: 35px;*/
        /*border: none;*/
        /*width: 170px;*/
        /*height: 55px;*/
        /*background-color: #ac0042;*/
        /*color: white;*/
        /*font-size: 10px;*/
    /*}*/
}

@media screen and (max-width: 600px){
    .main_content-autoCall_title_whitePart {
        position: relative;
        margin-top: 160px;
        color: #141434;
        font-size: 19px;
    }
    .main_content-autoCall_title_redPart {
        position: relative;
        margin-top: 160px;
        color: #ac0042;
        font-size: 19px;
    }
}
@media screen and (max-width: 500px){
    .main_content-autoCall_title_whitePart {
        position: relative;
        color: #141434;
        font-size: 20px;
        margin-top: 1px;
    }
    .main_content-autoCall_title_redPart {
        position: relative;
        margin-top: 160px;
        color: #ac0042;
        font-size: 20px;
    }
    .main_content-autoCall_title {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .main_content-autoCall_borderArea_borderOptions {
        height: 2px;
        width: 30vh;
        background-color: gray;
    }
    .main_content-autoCall_pointsArea_imgOptions {
        height: 300px;
        position: relative;
        left: 93px;
    }
    .footer-main_img {
        height: 40px;
    }
    .footer-main_info_Neirika_phone_elips {
        margin-right: 20px;
        height: 20px;
    }

    .footer-main_info_Neirika_phone_numb {
        margin-right: 50px;
        font-size: 15px;
        width: 118px;
    }
    .footer-main_info_Neirika_mail_img {
        margin-right: 10px;
        height: 15px;
    }
    .footer-main_info_Neirika_mail_text{
        font-size: 15px;
    }

}

@media screen and (max-width: 1000px){
    .main_content-trust_firstRow_company,
    .main_content-trust_thirdRow_company {
        max-width: 100%;
        padding: 20px;
    }
    .main_content-trust_secondRow_companyS {
        max-width: 100%;
        padding: 25px;
    }
    .main_content-trust_pointsArea_imgOption {
        position: relative;
        height: 350px;
        top: 560px;
        right: 70px;
    }
}
@media screen and (max-width: 940px){
    .main_content-trust_firstRow, .main_content-trust_secondRow, .main_content-trust_thirdRow {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main_content-trust_pointsArea_imgOption {
        position: relative;
        height: 470px;
        right: 70px;
        top: 1220px;
    }
}
@media screen  and (max-width: 410px){
    .main_content-trust_title {
        margin-top: 13vh;
        color: #2e1f3b;
        font-size: 25px;
    }
    .main_content-trust_firstRow_company, .main_content-trust_thirdRow_company {
        max-width: 100%;
        padding: 20px 0px 20px 0px;
    }
    .main_content-trust_secondRow_companyS {
        max-width: 100%;
        padding: 20px 0px 20px 0px;
    }
    .main_content-trust_pointsArea_imgOption {
        position: relative;
        height: 350px;
        right: 70px;
        top: 120vh;
    }
}

@media  screen and (max-width: 950px){
    .main_content-additionalFeatures_backgroundArea_container_backgroundArea {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background: url(../images/priama6ug.png) no-repeat center top / cover;
        width: 380px;
        height: 370px;
        padding: 7px;
    }
    .main_content-additionalFeatures {
        background: url(../images/bgDop.png) no-repeat center top / cover;
        margin-top: 10vh;
        height: 115vh;
        position: relative;
    }
    .main_content-additionalFeatures_backgroundArea_title_redPart {
        color: #ac0042;
        padding-top: 55px;
        padding-bottom: 10px;
        padding-right: 10px;
        font-size: 22px;
    }
    .main_content-additionalFeatures_backgroundArea_title_whitePart {
        color: white;
        padding-top: 55px;
        padding-bottom: 10px;
        font-size: 22px;
    }
}
@media screen and (max-width: 850px){
    .main_content-additionalFeatures_backgroundArea_container_backgroundArea {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background: url(../images/priama6ug.png) no-repeat center top / cover;
        width: 350px;
        height: 330px;
        padding: 5px;
    }
    .main_content-additionalFeatures {
        background: url(../images/bgDop.png) no-repeat center top / cover;
        margin-top: 10vh;
        height: 110vh;
        border-top-right-radius: 120vh 8vh;
        border-top-left-radius: 120vh 8vh;
        border-bottom-right-radius: 70vh 8vh;
        border-bottom-left-radius: 70vh 8vh;
        position: relative;
    }
}
@media screen and (max-width: 760px){
    .main_content-additionalFeatures_backgroundArea_container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main_content-additionalFeatures {
        background: url(../images/bgDop.png) no-repeat center top / cover;
        margin-top: 10vh;
        height: 1590px;
        border-top-right-radius: 120vh 8vh;
        border-top-left-radius: 120vh 8vh;
        border-bottom-right-radius: 70vh 8vh;
        border-bottom-left-radius: 70vh 8vh;
        position: relative;
    }
}
@media screen and (max-width: 530px) {
    .main_content-additionalFeatures_backgroundArea_title_whitePart {
        color: white;
        padding-top: 1px;
        padding-bottom: 1px;
        font-size: 20px;
    }
    .main_content-additionalFeatures_backgroundArea_title_redPart {
        color: #ac0042;
        padding-top: 1px;
        padding-bottom: 10px;
        padding-right: 10px;
        font-size: 20px;
    }
    .main_content-additionalFeatures_backgroundArea_title, .main_content-whatHave_area_container_purpleBack_paragraphTxt {
        text-align: center;
        display: flex;
        flex-direction: column;
        font-size: 20px;
        margin-top: 40px;
    }

}
@media screen and (max-width: 430px){
    .main_content-additionalFeatures_backgroundArea_title_whitePart {
        color: white;
        padding-bottom: 10px;
        font-size: 15px;
    }
    .main_content-additionalFeatures_backgroundArea_title_redPart {
        color: #ac0042;
        padding-bottom: 10px;
        padding-right: 10px;
        font-size: 15px;
    }
    .main_content-trust_pointsArea_imgOption {
        position: relative;
        height: 350px;
        right: 70px;
        top: 1280px;
    }
}
@media screen and (max-width: 900px){
    .footer-main_img {
        height: 7vh;
    }
}
@media screen and (max-width: 450px){
    .footer-main_img {
        height: 4vh;
    }
    .footer-main_info_Neirika_phone_elips {
        margin-right: 20px;
        height: 20px;
    }
    .footer-main_info_Neirika_mail_text{
        font-size: 10px;
    }
    .footer-main_info_Neirika_mail_img {
        margin-right: 2vh;
        height: 15px;
    }
    .footer-main_info_Neirika_phone_numb {
        margin-right: 50px;
        font-size: 11px;
        width: 86px;
    }
}

@media screen and (max-width: 600px){
    .header_nav_login_number {
        width: 50%;
    }
}

@media screen and (min-width:250px) and (max-width: 439px)
{
    .footer-data_info_orderCall {
        padding: 7px;
        border-radius: 35px;
        border: none;
        width: 220px;
        height: 45px;
        background-color: #ac0042;
        color: white;
        font-size: 13px;
    }
    input {
        border-radius: 35px;
        width: 190px;
        height: 25px;
        opacity: 0.5;
        border-style: solid;
        border-color: gray;
        padding: 11px;
        margin: 6px;
    }
    .header-content_data_order {
        border-radius: 35px;
        border: none;
        height: 55px;
        background-color: #ac0042;
        color: white;
        font-size: 10px;
        margin: 7px;
        width: 216px;
    }
    .header_nav_login {
        width: 45%;
        display: flex;
        justify-content: flex-end;
    }
    .footer-data_info {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header_data_area {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 80%;
    }
}
@media screen and(min-width: 471px) and (max-width: 540px){
    input {
        border-radius: 35px;
        width: 100px;
        height: 25px;
        opacity: 0.5;
        border-style: solid;
        border-color: gray;
        padding: 11px;
        margin: 6px;
    }
    .header-content_data_order {
        border-radius: 35px;
        border: none;
        height: 55px;
        background-color: #ac0042;
        color: white;
        font-size: 10px;
        margin: 7px;
        width: 120px;
    }
}
@media screen and (min-width: 690px) and (max-width: 810px ){
    input {
        border-radius: 35px;
        width: 160px;
        height: 18px;
        opacity: 0.5;
        border-style: solid;
        border-color: gray;
        padding: 10px;
        margin: 10px;
    }
    .header-content_data_order {
        border-radius: 35px;
        border: none;
        height: 55px;
        background-color: #ac0042;
        color: white;
        font-size: 15px;
        margin: 5px;
        width: 200px;
    }
    .footer-data_info_orderCall {
        padding: 7px;
        border-radius: 35px;
        border: none;
        width: 200px;
        height: 45px;
        background-color: #ac0042;
        color: white;
        font-size: 16px;
    }
}
@media screen and  (min-width: 440px) and (max-width: 517px) {
    .header-content_data_order {
        border-radius: 35px;
        border: none;
        height: 55px;
        background-color: #ac0042;
        color: white;
        font-size: 10px;
        margin: 7px;
        width: 115px;
    }
    input {
        border-radius: 35px;
        width: 85px;
        height: 25px;
        opacity: 0.5;
        border-style: solid;
        border-color: gray;
        padding: 10px;
        margin: 5px;
    }
    .footer-data_info_orderCall {
        padding: 7px;
        border-radius: 35px;
        border: none;
        width: 120px;
        height: 45px;
        background-color: #ac0042;
        color: white;
        font-size: 12px;
    }
}
@media screen and (min-width:1200px ) and (max-width: 1400px){
    .header_nav_login {
        width: 35%;
        display: flex;
        justify-content: flex-end;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1199px) {
    .header_nav_login {
        width: 35%;
        display: flex;
        justify-content: flex-end;
    }
}
@media screen and (min-width:800px ) and (max-width: 999px){
    .header_nav_login {
        width: 45%;
        display: flex;
        justify-content: flex-end;
    }
}
@media screen and (min-width:700px ) and (max-width: 799px){
    .header_nav_login {
        width: 55%;
        display: flex;
        justify-content: flex-end;
    }
}
@media screen and (min-width:650px ) and (max-width:699px ){
    .header_nav_login {
        width: 55%;
        display: flex;
        justify-content: flex-end;
    }
}
@media screen and (min-width: 510px) and (max-width: 649px){
    .header_nav_login {
        width: 65%;
        display: flex;
        justify-content: flex-end;
    }
}
@media screen and (min-width: 400px) and (max-width: 509px){
    .header_nav_login {
        width: 75%;
        display: flex;
        justify-content: flex-end;
    }
}
@media screen and (min-width:320px ) and (max-width: 960px){
    .header_nav_topNav{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .header_nav_login{
        display: none;
    }
    body
    {
        overflow-x: hidden;
    }
    li{
        color: #232323;
    }
    a
    {
        text-decoration: none;

        transition: color 0.3s ease;
    }

    a:hover
    {
        color: tomato;
    }

    #menuToggle
    {
        display: block;
        position: absolute;
        right: 50px;

        z-index: 1;

        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle input
    {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;

        cursor: pointer;

        opacity: 0;
        z-index: 2;

        -webkit-touch-callout: none;
    }

    #menuToggle span
    {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;

        background: #cdcdcd;
        border-radius: 3px;

        z-index: 1;

        transform-origin: 4px 0px;

        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        opacity 0.55s ease;
    }

    #menuToggle span:first-child
    {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2)
    {
        transform-origin: 0% 100%;
    }

    #menuToggle input:checked ~ span
    {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }

    #menuToggle input:checked ~ span:nth-last-child(3)
    {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked ~ span:nth-last-child(2)
    {
        opacity: 1;
        transform: rotate(-45deg) translate(0, -1px);
    }


    #menu
    {
        position: absolute;
        width: 300px;
        margin: -100px 0 0 0;
        padding: 50px;
        padding-top: 125px;
        right: -100px;

        background: #ededed;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;

        transform-origin: 0% 0%;
        transform: translate(100%, 0);

        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #menu li
    {
        padding: 10px 0;
        font-size: 22px;
    }

    #menuToggle input:checked ~ ul
    {
        transform: scale(1.0, 1.0);
        opacity: 0.6;
    }
}
@media screen and (min-width: 480px) and (max-width: 639px){
    #menu li {
        padding: 10px 0;
        font-size: 17px;
    }
    #menu {
        position: absolute;
        width: 240px;
        margin: -100px 0 0 0;
        padding: 50px;
        padding-top: 125px;
        right: -100px;
        background: #ededed;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(100%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
}
@media screen and (max-width: 479px){
    #menu li {
        padding: 10px 0;
        font-size: 15px;
    }
    #menu {
        position: absolute;
        width: 180px;
        margin: -100px 0 0 0;
        padding: 50px;
        padding-top: 125px;
        right: -100px;
        background: #ededed;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(100%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
}
@media screen and (min-width: 321px) and (max-width: 400px){
    #menu li {
        padding: 10px 0;
        font-size: 15px;
    }
    #menu {
        position: absolute;
        width: 180px;
        margin: -100px 0 0 0;
        padding: 50px;
        padding-top: 125px;
        right: -100px;
        background: #ededed;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(100%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
}