body{
    padding: 0;
    margin: 0;
    height: 150vh;
    overflow: visible;
    font-family: myriad-pro, sans-serif;

    font-weight: 700;
    overflow-x: hidden;
    font-style: normal;

}

header{
    width: 100%;
    height:60%;
    background: url(../images/header.jpg) no-repeat center top / cover;
    background-color: white;
}

.purple_background{
    height: 96%;
    background-color: #141434;
    opacity: 0.6;
    border-bottom-right-radius: 840px 90px;
    border-bottom-left-radius: 810px 85px;
}


a{
    color: white;
    word-break: break-all;
}

.top_nav-bar{
    padding: 20px;
    margin-left: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.user-data{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.top_nav_right{
    margin-right: 1vh;
}

.numPhone,.pass_button{
    margin: 25px;
}
.user-data2{
    padding-left: 35vh;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.spec_order_call{
    padding: 7px;
    border-radius: 35px;
    border: none;
    width: 260px;
    height: 55px;
    background-color: #ac0042;
    color: white;
    font-size: 18px;
}
.order_call{
    padding: 7px;
    margin-top: 20px;
    margin-left: 22px;
    border-radius: 35px;
    border: none;
    width: 260px;
    height: 55px;
    background-color: #ac0042;
    color: white;
    font-size: 20px;
}

input{
    margin: 20px;
    border-radius: 35px;
    width: 35vh;
    height: 7vh;
    opacity: 0.5;
    border-style: solid ;
    border-color: gray ;
    padding-left: 20px;
}

.header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: myriad-pro, sans-serif;
}

.border{
    height: 2px;
    background-color: white;
    width: 8vh;
    margin-top: 20px;
    margin-bottom: 20px;
}

.second-title_neirika{
    font-size: 45px;
    color:white;
}

.third-title_neirika{
    font-size: 35px;
    margin-bottom: 25px;
    color:gray;
}

.main_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_content2{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../images/bodypicture.jpg") no-repeat center top / cover;
    margin-top: 10vh;
    height: 105vh;
    width: 100%;
    border:none ;
    top:100px;
}

.fr_what {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.what_u_have{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    top: 80px;
}


.fr_what_items{
    margin: 2vh;
    width: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p,span{
    color: white;
    vertical-align:middle;
    display:table-cell;
    text-align: center;
}

.blue{
    word-break: break-all;
    color: #25253a;
}

.magazine-img{
    position: relative;
    margin-left: 120vh;
    bottom: 210px;
}

.purple{
    color:#ab0041;
    word-break: break-all;
}

.order_call_fr-what{
    position: relative;
    padding: 7px;
    margin-top: 20px;
    margin-left: 22px;
    border-radius: 35px;
    border: none;
    width: 260px;
    height: 55px;
    background-color: #ac0042;
    color: white;
    font-size: 20px;
    top: 65px;
}

.order_call_for-relative{
    position: relative;
    padding: 7px;
    top: 100px;
    margin-left: 22px;
    border-radius: 35px;
    border: none;
    width: 260px;
    height: 55px;
    background-color: #ac0042;
    color: white;
    font-size: 20px;
}

.mgz{
    margin-left: 30vh;
}

.mc2-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.span_txt{
    color: #4b3049;
}

.magazine{
    display: flex;
    flex-direction: row;
    align-items: end;
}

.what_u_have_purple_back{
    width: 44vh;
    height: 46vh;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: url(../images/priama6ug.png) no-repeat center top / cover;
}

.mc5-span,.mc2-span{
    font-size: 25px;
}

.mc5-text,.mc2-text{
    text-align: center;
}

.body_text{
    margin-top: 13vh;
    color:#2e1f3b;
}

.body_text_white{
    color:white;
    top: 75px;
    position: relative;
}

.mc5_text_white{
    color:white;
    padding-top: 40px;
    padding-bottom: 10px;
}

.mc5_text_red{
    color:#ac0042;
    padding-top: 40px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.mc5_text{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.body_text_blue{
    margin-top: 13vh;
    color:#2e1f3b;
}

.body_text_spec{
    position: relative;
    margin-top: 160px;
    color:#141434;
}

.body_text_spec_red{
    position: relative;
    margin-top: 160px;
    color:#ac0042;
    right: 10px;
}

.main_content3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.automaton_img{
    height: 46vh;
    margin-top: 40px;
}

.head-mc3{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
}

.header_auto-call{
    display: flex;
    flex-direction: row;
    align-items: unset;
    width: 100%;
    justify-content: center;
}

.trust-first,
.trust-second,
.trust-third{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main_content4{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.company{
    height: 75px;
    padding: 40px;
}

.border2{
    height: 2px;
    width: 105vh;
    background-color:gray;
}

.span-second{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 5vh;
}

.points2{
    display: flex;
    flex-direction: row;
    align-items: end;
    margin-right: 140vh;
}

.dop_vozm-Neirika{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main_content5{
    background: url("../images/futerpicture3.jpg") no-repeat center top / cover;
    margin-top: 10vh;
    height: 130vh;
    border-top-right-radius: 120vh 8vh;
    border-top-left-radius: 120vh 8vh;
    border-bottom-right-radius: 70vh 8vh;
    border-bottom-left-radius: 70vh 8vh;
    position: relative;
}

.title_neirika{
    font-size: 60px;
    color: #ac0042;
}

.purple_background2{
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: #141434;
    opacity: 0.6;
    border-top-left-radius: 140vh 10vh;
    border-top-right-radius: 140vh 10vh;
    border-bottom-right-radius: 140vh 10vh;
    border-bottom-left-radius: 140vh 10vh;
}

.dop_vozm-Neirika_purple_back{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: url(../images/priama6ug.png) no-repeat center top / cover;
    width: 45vh;
    height: 48vh;
    padding: 15px;
}

.revert-call{
    padding: 5vh;
}

.footer-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: url("../images/pramoug.png") no-repeat center top / cover;
    width: 95%;
    padding: 10vh 10vh 5vh 0vh;
}

.cont-inf{
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-right: 40vh;
}

.footer-phone,.footer-mail{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-mail{
    margin-left: 40px;
    padding-top: 5px;
}

.callElips{
    margin-right: 5vh;
}

.messageImg{
    margin-right: 2vh;
}

.neirika2{
    margin-left: 43vh;
    height: 10vh;
}

.companyS{
    height: 50px;
    padding: 50px;
}

.pointsClass{
    height: 350px;
    position: relative;
    left: 93px;
}

.bottom-mc4{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    position: absolute;
}

.pointsClass2{
    position: relative;
    height: 350px;
    top: 620px;
    right: 70px;
}
