body{
    padding: 0;
    margin: 0;
    height: 150vh;
    overflow: visible;
    font-family: myriad-pro, sans-serif;

    font-weight: 700;
    overflow-x: hidden;
    font-style: normal;

}

header{
    width: 100%;
    height:60%;
    background: url(../images/back-header.png) no-repeat center top / cover;
    background-color: white;
}

.header_area{
    height: 96%;
}

.header_nav_pictureArea{
    width: 32%;
}
.header_nav_login{
    width: 25%;
    display: flex;
    justify-content: flex-end;
}

.header_nav_login_number{
    width: 40%;
}

.header_nav_login_btn{
    width: 15%;
}

a{
    color: white;
}

.header_nav{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header_data{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header_data_area{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40%;
}
.footer-data_info{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header-content_data_order{
    border-radius: 35px;
    border: none;
    height: 55px;
    background-color: #ac0042;
    color: white;
    font-size: 15px;
    margin: 5px;
    width: 215px;
}
.footer-data_info_orderCall{
    padding: 7px;
    border-radius: 35px;
    border: none;
    width: 260px;
    height: 55px;
    background-color: #ac0042;
    color: white;
    font-size: 18px;
}

input{
    border-radius: 35px;
    width: 190px;
    height: 18px;
    opacity: 0.5;
    border-style: solid;
    border-color: gray;
    padding: 15px;
    margin: 15px;
}

.header-content{
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: myriad-pro, sans-serif;
    justify-content: space-around;
}

.header-content_border{
    height: 2px;
    background-color: #8e8f9a;
    width: 8%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header-content_secTitle{
    font-size: 50px;
    color:white;
}

.header-content_thirdTitle{
    font-size: 27px;
    color:gray;
}

.main-content-forWhat{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_content-whatHave{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../images/bodypi.png) no-repeat center top / cover;
    margin-top: 95px;
    height: 885px;
    width: 100%;
    border: none;
    top: 100px;
    z-index: 2;
}

.main-content-forWhat_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.main_content-whatHave_area_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    top: 80px;
}


.main-content-forWhat_container_items{
    margin: 10px;
    height: 315px;
    width: 255px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p,span{
    color: white;
    vertical-align:middle;
    display:table-cell;
    text-align: center;
}

.main-content-forWhat_container_items_paragraphTxt{
    color: #25253a;
}
.main_content-whatHave_magazine{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.main_content-whatHave_magazine_img{
    position: absolute;
    max-width: 100%;
    height: 30%;
    bottom: 92%;
}

.main-content-forWhat_container_items_spanTxt{
    color:#ab0041;
}

.main-content-forWhat_button{
    position: relative;
    border-radius: 35px;
    border: none;
    width: 240px;
    height: 55px;
    background-color: #ac0042;
    color: white;
    font-size: 20px;
    top: 65px;
}

.main_content-whatHave_area_order{
    position: relative;
    top: 150px;
    border-radius: 35px;
    border: none;
    width: 240px;
    height: 55px;
    background-color: #ac0042;
    color: white;
    font-size: 20px;
}

.main_content-whatHave_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 80px;
}

.main_content-whatHave_area_container_purpleBack {
    width: 340px;
    height: 340px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../images/priama6ug.png) no-repeat center top / cover;
}

.main_content-additionalFeatures_backgroundArea_container_backgroundArea_spanTxt,
.main_content-whatHave_area_container_purpleBack_spanTxt{
    font-size: 25px;
}

.main_content-additionalFeatures_backgroundArea_title,.main_content-whatHave_area_container_purpleBack_paragraphTxt{
    text-align: center;
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

.main_content-trust_title{
    margin-top: 13vh;
    padding-bottom: 25px;
    color:#2e1f3b;
    font-size: 30px;
}

.main_content-whatHave_area_title{
    color:white;
    top: 50px;
    position: relative;
    font-size: 30px;
}

.main_content-additionalFeatures_backgroundArea_title_whitePart{
    color:white;
    padding-top: 70px;
    padding-bottom: 10px;
    font-size: 30px;
}

.main_content-additionalFeatures_backgroundArea_title_redPart{
    color:#ac0042;
    padding-top: 70px;
    padding-bottom: 10px;
    padding-right: 10px;
    font-size: 30px;
}

.main_content-additionalFeatures_backgroundArea_container_backgroundArea_paragraphTxt {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px;
}

.main-content-forWhat_title{
    margin-top: 110px;
    margin-bottom: 50px;
    color:#2e1f3b;
}

.main_content-autoCall_title_whitePart{
    position: relative;
    margin-top: 160px;
    color:#141434;
    font-size: 30px;
}

.main_content-autoCall_title_redPart{
    position: relative;
    margin-top: 160px;
    color:#ac0042;
    right: 10px;
    font-size: 30px;
}

.main_content-autoCall{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.main_content-autoCall_img{
    margin-top: 40px;
    max-width: 100%;
}

.main_content-autoCall_pointsArea{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
}

.main_content-autoCall_title{
    display: flex;
    flex-direction: row;
    align-items: unset;
    width: 100%;
    justify-content: center;
}

.main_content-trust_firstRow,
.main_content-trust_secondRow,
.main_content-trust_thirdRow{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main_content-trust{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_content-trust_firstRow_company,
.main_content-trust_thirdRow_company{
    max-width: 100%;
    padding: 40px;
}

.main_content-autoCall_borderArea_borderOptions{
    height: 2px;
    width: 105vh;
    background-color:gray;
}

.main_content-autoCall_borderArea{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 70px;
}

.main_content-additionalFeatures_backgroundArea_container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main_content-additionalFeatures{
    background: url(../images/bgDop.png) no-repeat center top / cover;
    margin-top: 100px;
    height: 1030px;
    border-top-right-radius: 120vh 8vh;
    border-top-left-radius: 120vh 8vh;
    border-bottom-right-radius: 70vh 8vh;
    border-bottom-left-radius: 70vh 8vh;
    position: relative;
}

.header-content_title{
    font-size: 60px;
    color: #ac0042;
}

.main_content-additionalFeatures_backgroundArea{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    border-top-left-radius: 140vh 10vh;
    border-top-right-radius: 140vh 10vh;
    border-bottom-right-radius: 140vh 10vh;
    border-bottom-left-radius: 140vh 10vh;
}

.main_content-additionalFeatures_backgroundArea_container_backgroundArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../images/priama6ug.png) no-repeat center top / cover;
    width: 350px;
    height: 355px;
    padding: 15px;
}

.footer-data{
    padding: 35px;
}

.footer-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: url("../images/pramoug.png") no-repeat center top / cover;
    width: 100%;
    padding: 10vh 10vh 5vh 0vh;
}

.footer-main_infoNeirika{
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 15%;
}

.footer-main_info_Neirika_phone,.footer-main_info_Neirika_mail{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px;
}

.footer-mail{
    margin-left: 40px;
    padding-top: 5px;
}

.footer-main_info_Neirika_phone_elips{
    margin-right: 20px;
}

.footer-main_info_Neirika_mail_img{
    margin-right: 10px;
}

.footer-main_img{
    height: 70px;
}

.main_content-trust_secondRow_companyS{
    max-width: 100%;
    padding: 50px;
}

.main_content-autoCall_pointsArea_imgOptions{
    height: 350px;
    position: relative;
    left: 93px;
    z-index: 1;
}
.main_content-additionalFeatures_backgroundArea_container_backgroundArea_picture{
    margin-top: 40px;
}
.main_content-trust_pointsArea{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    position: absolute;
}

.main_content-trust_pointsArea_imgOption {
    position: relative;
    height: 350px;
    top: 715px;
    right: 70px;
}

.header_nav_pictureArea_picture,
.header-content_picture,
.main-content-forWhat_container_items_picture ,
.main_content-whatHave_magazine_img,
.main_content-autoCall_img ,
.main_content-additionalFeatures_backgroundArea_container_backgroundArea_picture,
.footer-main_img,
.footer-main_info_Neirika_phone_elips,
.footer-main_info_Neirika_mail_img{
    overflow: hidden;
}
.footer-main_info_Neirika_phone_numb{
    margin-right: 50px;
    font-size: 19px;
    width: 150px;
}
.footer-main_info_Neirika_mail_text{

}
.main-content-forWhat_container_items_picture{
    margin-bottom: 15px;
}
.header_nav_topNav{
    display: none;
}